<app-header titulo="Card"></app-header>

<ion-content padding>

	<ion-card color="primary" mode="ios">

		<ion-card-header>
			<ion-card-subtitle>Card Subtitle</ion-card-subtitle>
			<ion-card-title>Card Title</ion-card-title>
		</ion-card-header>
		
		<ion-card-content>
			Keep close to Nature's heart... and break clear away, once in awhile,
			and climb a mountain or spend a week in the woods. Wash your spirit clean.
		</ion-card-content>
	</ion-card>

	<ion-card>

		<ion-item color="primary">
			<ion-icon color="light" slot="start" name="pin"></ion-icon>
			<ion-label>Marcador</ion-label>
		</ion-item>

		<ion-card-content>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis doloribus maxime nobis officiis alias, earum nihil at atque esse nam possimus voluptatibus corrupti necessitatibus quo nesciunt ea doloremque fugit cum.
		</ion-card-content>

	</ion-card>

	<ion-card>
		<ion-img src="/assets/shapes.svg"></ion-img>

		<ion-card-content>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet sit dignissimos incidunt mollitia in tempore molestiae vel doloremque praesentium nostrum quia delectus eos pariatur voluptas obcaecati, corporis aperiam hic quidem.
		</ion-card-content>
	</ion-card>

</ion-content>
